@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
*{
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: steelblue;
    color: white;
}


.container{
    background-color: rgba(0,0,0,0.4);
    padding: 30px;
    border-radius: 5px;
}
h1{
    text-align: center;
    margin-top: 0px;
}

.form-controller{
    position: relative;
    width: 100%;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
}
.form-controller input{
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid white;
    width: 100%;
    font-size: 18px;
    color: #fff;
}

.form-controller input:focus,.form-controller input:valid{
    outline: 0;
    border-bottom-color:lightblue ;
}
.btn{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-family: inherit;
    background-color: lightblue;
    border-radius: 5px;
    border: 0;
}
.btn:active{
    transform: scale(0.98);
}
.btn:focus{
    outline: 0;
}
.text{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 16px;
}
.text a{
    color: lightblue;
    text-decoration: none;
}
.form-controller label{
    position: absolute;
    left: 0;
 }
 .form-controller label span{
     display: inline-block;
     transition: 0.3s cubic-bezier(0.75, -0.52, 0.165, 1);
 }
 .form-controller input:focus + label span
 ,.form-controller input:valid + label span{
     color: lightblue;
     transform: translateY(-25px);
}

/* for transform to work on text we have to define the display of them like inline block */